
.header{
    font-size:1rem;

    margin-top:15px;

    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header__union{
    display:flex;
    gap:40px;
}

.header__logo{
    margin-top:5px;

    display:flex;
    align-items: center;
    gap:1em;

    vertical-align: top;
}

.header__logo-title{
    font-family: Poppins;
    font-weight: 600;
    font-size: 2.5em;
    line-height: 1.3;
    letter-spacing: 0px;

    color:#000000;

    display:none;
}

.header__burger-menu{
    margin-right:10px;

    display: none;
}

.header__nav{
    display: flex;
    align-items: center;
}

.header__items{
    display:flex;
    justify-content: center;
    gap:2.5em;
}

.header__link{
    display:block;

    font-family: Inter;
    font-weight: 500;
    font-size: 1.125em;
    line-height: 1.5;

    color:#606060;
}

.header__login{
    background-color: var(--almost-black);
    color:#fff;

    border-radius: 1em;
    border:2px solid var(--almost-black);

    padding:0.9em 3em;

    font-family: Inter;
    font-weight: 600;
    font-size: 1.1em;
    line-height: 1.5;

    white-space:nowrap;

    transition: 600ms ease;
}

.header__login:hover{
    background-color: #fff;
    color:var(--almost-black);
}

.header__search{
    position:relative;
    font-size: 0.9em;
}

.header__link{
    background: linear-gradient(var(--almost-black), var(--almost-black))
        no-repeat right 50% bottom / 0% 1.5px;

    transition: 0.5s ease;
}

.header__link:hover{
    background: linear-gradient(var(--almost-black), var(--almost-black))
        no-repeat right 50% bottom / 100% 1.5px;
}

.header__input{
    width:21em;
    height:4.38em;

    padding-left:5em;

    border-radius: 1em;

    font-family: Poppins;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: -2%;

    margin-left:60px;

    background-color: #EDEDED;
}

.header__search-button{
    position:absolute;
    top:1.2em;
    left:calc(60px + 2em);

    width:2em;
    aspect-ratio: 1 / 1;
}

.header__wallet-button{
    background-color: var(--almost-black);
    color:#fff;

    border-radius: 1em;
    border:2px solid var(--almost-black);

    padding:1.3em 1.5em;

    font-family: Inter;
    font-weight: 600;
    font-size: 0.9em;
    line-height: 1.5;

    white-space:nowrap;

    transition: 600ms ease;
}

.header__wallet-button:hover{
    background-color: #EDEDED;
    color:var(--almost-black);
}

/* Adaptive */


@media (max-width:1100px){

    .header{
        font-size:0.9rem;
    }
}

@media (max-width:1020px){

    .header{
        font-size:0.8rem;
    }
}

@media (max-width:920px){

    .header{
        font-size:0.7rem;
    }
}

@media (max-width:820px){

    .header{
        font-size:0.6rem;
    }

    .header__logo svg{
        width:50px;
        height:50px;
    }
}

@media (max-width:750px){

    .header{
        font-size:0.55rem;
    }

    .header__logo svg{
        width:40px;
        height:40px;
    }
}

@media (max-width:680px){

    .header__logo-title{
        display:block;
    }

    .header__nav{
        display:none;
    }

    .header__union{
        display:none;
    }
    
    .header__burger-menu{
        display:block;
    }
}