

.main{
    margin-top: 85px;
}

.main__menu{
    font-size:1rem;

    display: flex;
    justify-content: space-between;
    gap:60px;
}

.main__menu-info{
    width:40vw;
}

.main__menu-line{
    height: 1px;
    width: 40%;

    background-color:#bbbaba;

    margin-bottom:15px;
}

.main__menu-trustpilot{
    display:none;

    margin-top:20px;
    text-align: center;
}

.main__menu-fivestars {
    display: inline;
    vertical-align: super;

    margin-inline:10px 10px;
}

.main__menu-users{
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 1em;
    line-height: 1.5;

    color:#334155;

    display: inline;
    vertical-align: super;
}

.main__menu-over__title{
    font-family: Poppins;
    font-weight: 600;
    font-size: 0.8em;
    line-height: 1.2;
    letter-spacing: 1.23px;

    color:#201f1f;

    text-align: center;
    
    display:none;
}

.main__menu-over__title:before{
    content:"";

    display:inline-block;

    background: linear-gradient(#000, #000)
    no-repeat top / 80% 1px;

    width:80px;
    height: 1px;

    padding-top:5px;
}

.main__menu-title{
    font-family: Poppins;
    font-weight: 600;
    font-size: 4.69em;
    line-height: 1.2;
    letter-spacing: -3px;
    text-transform: capitalize;

    padding-inline: 2px 66px;
    margin-bottom: 20px;

    white-space: nowrap;
}

.main__menu-content{
    font-family: Inter;
    font-weight: 400;
    font-size: 1.125em;
    line-height: 1.56;
    text-align: justify;

    margin-bottom:35px;
}

.main__menu-content__special{
    font-weight: 700;
}

.main__menu-buttons{
    display:flex;
}

.menu-btn{
    font-family: Poppins;
    font-weight: 500;
    font-size: 1em;
    line-height: 1;
    letter-spacing: 1%;
    text-transform: uppercase;

    padding:1.125em 1.875em;
    border-radius:0.75em;

    transition: 0.5s ease;

    white-space: nowrap;
}

.main__menu-btn__explore{
    background-color: #000;
    color:#fff;

    border:#000 solid 1px;

    margin-right:23px;
}

.main__menu-btn__explore:hover{
    background-color: #fff;
    color:#000;
}


.main__menu-btn__create{
    background-color: #fff;
    color:#000;

    border:#000 solid 1px;
}

.main__menu-btn__create:hover{
    background-color: #000;
    color:#fff;
}

.main__menu-features{
    margin-top:80px;

    display:inline-flex;
    gap:65px;
}

.main__menu-features__title{
    font-family: Public Sans , sans-serif;
    font-weight: 600;
    font-size: 2.25em;
    line-height: 1.25;
    text-align: center;
}

.main__menu-features__content{
    font-family: Inter;
    font-weight: 500;
    font-size: 0.8em;
    line-height: 1.5;
}

/* Menu__swiper */

.main__menu-swiper{
    position: relative;
}

.menu-swiper{
    position: relative;
    z-index:10;
}

.swiper-slide__images{
    display:inline-flex;
    align-items:start;

    gap:1.25em;
    height: 31.25em;
}

.swiper-slide__images-after{
    width:20.63em;
    aspect-ratio: 1 / 1;
}

.swiper-slide__images-before{
    align-self:end;

    width:16.89em;
    aspect-ratio: 1 / 1;
}

.menu-swiper__buttons{
    box-shadow: 5px 2.9em 3em -3px rgba(34, 60, 80, 0.2);
    background: linear-gradient(#bbbaba,#bbbaba)
        no-repeat center center / 2px 50%;   
    background-color: #f8f8f8;
    
    display:inline-block;
    border-radius: 1.2em;

    padding:1.25em;

    position: absolute;
    z-index: 20;

    left:5.625em;
    top:29.44em;
}

.menu__swiper-button:hover svg *{
    fill:#0F0F0F;
}

.swiper__button-prev{
    margin-right:2em;
}

.swiper__button-next{
    margin-left:2em;
}

.menu-swiper__image{
    border-radius: 1.55em;
}

.menu-swiper__arrow{
    position: absolute;
    z-index: 20;
    top:5em;
    left:22em;
}

.menu-swiper__arrow svg{
    width:8.2em;
    aspect-ratio: 1 / 1;
}

.menu-swiper__ornament{
    position: absolute;
    
    top:0;
    left:31.25em;

    width:7.5em;
    overflow: hidden;
}

/* Adaptive */

@media (max-width:1180px){

    .main__menu{
        font-size:0.9rem;
    }
}

@media (max-width:1080px){

    .main__menu{
        font-size:0.8rem;
    }
}

@media (max-width:980px){

    .main__menu{
        font-size:0.7rem;
    }
}

@media (max-width:880px){

    .main__menu{
        font-size:0.6rem;
    }
}

@media (max-width:780px){

    .main__menu{
        font-size:0.5rem;
    }

    .menu__swiper-button svg{
        width: 13px;
        height: 7px;
    }

    .main__menu-content {
        margin-bottom: 15px;
    }

    .main__menu-features{
        margin-top: 30px;
    }
}

@media (max-width:680px){

    .main__menu{
        font-size:0.45rem;
    }
}

@media (max-width:620px){

    .main__menu{
        font-size:0.4rem;
    }
}

@media (max-width:580px){

    .main__menu{
        font-size:0.9rem;

        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main__menu-title{
        font-size:4em;
        padding-inline:0;
        letter-spacing: 0.3px;
    }

    .main__menu-swiper{
        text-align: center;
        font-size: 0.8rem;
    }

    .main__menu-info{
        width:100%;
    }

    .main__menu-title{
        text-align:center;
    }

    .main__menu-content{
        text-align: center;
    }

    .main__menu-buttons{
        justify-content: center;
    }

    .main__menu-features{
        margin-inline:auto;
    }

    .main__menu-creators{
        display: block;
    }

    .main__menu-line{
        width:100%;
        margin-bottom:50px;
    }

    .main__menu-trustpilot{
        display: block;
    }

    .main__menu-over__title{
        display:block;
    }

    .main__menu-features{
        display:none;
    }

    .swiper-slide__images{
        gap:0.75em;
    }

    .menu-swiper__arrow{
        left:24em;
    }

    .menu-swiper__arrow svg{
        width:6em;
        aspect-ratio: 1 / 1;
    }
}

@media (max-width:535px){
    .menu-swiper__arrow{
        left:23em;
    }
}

@media (max-width:520px){

    .main__menu-swiper{
        font-size: 0.8rem;
    }

    .menu-swiper__ornament{
        left:30.5em;
    }
}


@media (max-width:505px){
    .main{
        margin-top:30px;
    } 

    .main__menu{
        font-size: 0.85rem;
    }

    .main__menu-swiper{
        font-size: 0.7rem;
    }

    .menu-swiper__arrow{
        left:25em;
    }

    .menu-swiper__ornament{
        left:32em;
    }
}

@media (max-width:460px){
    .main__menu{
        font-size:0.8rem;
    }
    
    .main__menu-swiper{
        font-size: 0.6rem;
    }

    .menu-swiper__ornament{
        left:33.5em;
    }
}

@media (max-width:410px){
    .main__menu{
        font-size:0.75rem;
    }

    .main__menu-swiper{
        font-size: 0.55rem;
    }
}

@media (max-width:370px){
    .main__menu{
        font-size:0.7rem;
    }

    .main__menu-swiper{
        font-size:0.5rem;
    }
}