

.questions{
    font-size:1rem;

    padding-top:100px;
}

.questions__title{
    font-family: Poppins;
    font-weight: 600;
    font-size: 3em;
    line-height: 1.4;
    text-align: center;

    color:#18181B;

    margin-bottom: 100px;
}

.questions__title.grey{
    font-size:1em;
    color:#D3D2D2;
}

.questions__pool-pattern{
    background: linear-gradient(#ADADAD, #ADADAD)
    no-repeat bottom left / 100% 1px;

    padding-bottom:15px;
    margin-bottom: 15px;

    transition: 0.5s ease;
}

.questions__pool-pattern__group{
    display:flex;
    justify-content: space-between;
}

.questions__pool-pattern__title{
    font-family: Poppins;
    font-weight: 600;
    font-size: 1.6em;
    line-height: 2.6;
}

.questions__pool-pattern__button{
    font-size:1em;
    font-weight: 700;

    align-self:center;

    width:2em;
    height: 2em;

    background-color: var(--almost-black);
    color:#ffffff;

    border-radius: 50%;
    border: var(--almost-black) solid 1px;

    transition: 0.5s ease;
}

.questions__pool-pattern__button:hover{
    background-color: #ffffff;
    color:var(--almost-black);
}

.questions__pool-response__title{
    font-family: Poppins;
    font-weight: 600;
    font-size: 1.6em;
    line-height: 1.8;

    visibility: hidden;
    opacity: 0;

    transition: 0.5s ease;
}

.questions__pool-pattern__title--visibled{

    visibility: visible;
    opacity: 1;

}

/* Adaptive */

@media (max-width:680px){

    .questions{
        font-size:0.9rem;
    }
}

@media (max-width:620px){

    .questions{
        font-size:0.8rem;
    }
}

@media (max-width:550px){

    .questions{
        font-size:0.7rem;
    }

    .questions__pool-pattern__button{
        width:2.5em;
        height:2.5em;
    }

    .questions__title{
        margin-bottom: 70px;
    }

    .questions__pool-pattern__title{
        font-size: 1.8em;
    }
}

@media (max-width:520px){

    .questions{
        font-size:0.65rem;
    }
}

@media (max-width:490px){

    .questions{
        font-size:0.6rem;
    }

    .questions__pool-pattern__button{
        width:3em;
        height:3em;
    }

    .questions__pool-pattern{
        margin-bottom:30px;
    }
}

@media (max-width:450px){

    .questions{
        font-size:0.55rem;
    }
}

@media (max-width:420px){

    .questions{
        font-size:0.5rem;
    }
}

@media (max-width:390px){

    .questions{
        font-size:0.45rem;
    }
}