
.topCollections{
    font-size: 1rem;
}

.topC__title{
    font-family: Poppins;
    font-weight: 600;
    font-size: 2.8em;
    line-height: 1;

    text-align: center;

    margin-bottom:3.75em;
}

.topC__table table{
    width:100%;

    border-collapse:separate;
    border-spacing: 0dvh 40px;   

}

.topC__table tbody td{
    border-bottom:#EBE9E9 solid 2px;

    padding-bottom:20px;
}

.topC__table-subtitle{
    font-family: Poppins;
    font-weight: 500;
    font-size: 1.4em;
    line-height: 1.3;
    letter-spacing: 1%;

    color:#93989A;
}

.topC__collection{
    display:flex;
    flex-direction: row;
}

.topC__collection-image{
    width: 4.5em;
    aspect-ratio: 1 / 1;

    border-radius: 50%;
}

.topC__collection-names{
    display:flex;
    flex-direction: column;

    margin-left:20px;
}

.topC__collection-name{
    font-family: Poppins;
    font-weight: 500;
    font-size: 1.5em;
    line-height: 1.4;
    vertical-align: middle;

    color: var(--almost-black);
}

.topC__collection-author{
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.5;
    vertical-align: middle;

    color:#64748B;
}

.topC__volume{
    font-family: Poppins;
    font-weight: 600;
    font-size: 1.3em;
    line-height: 1.4;

    color: var(--almost-black);
}

.topC__volume::before{
    content:
    url("/public/mainPage/main/weekly-swiper/current_bid.svg");

    margin-right:5px;

    vertical-align:middle;
}

.topC__per24{
    font-family: Poppins;
    font-weight: 500;
    font-size: 1.3em;
    line-height: 1.3;
    letter-spacing: 1%;

    color:#10C352;
}

.topC__floor-price{
    font-family: Poppins;
    font-weight: 600;
    font-size: 1.3em;
    line-height: 1.4;

    color:var(--almost-black)
}

.topC__floor-price::before{
    content:
    url("./../images/main/weekly-swiper/current_bid.svg");

    margin-right:5px;

    vertical-align:middle;
}

.topC__owners{
    font-family: Poppins;
    font-weight: 500;
    font-size: 1.3em;
    line-height: 1.3;
    letter-spacing: 1%;

    color:var(--almost-black)
}

.topC__items{
    font-family: Poppins;
    font-weight: 500;
    font-size: 1.3em;
    line-height: 1.3;
    letter-spacing: 1%;

    color:var(--almost-black);
}

.topC__explore{
    margin-top:30px;

    text-align: end;
}

.topC__explore-link p{
    display:inline;

    margin-right:8px;

    font-family: Poppins;
    font-weight: 500;
    font-size: 1.1em;
    line-height: 2.2;
    letter-spacing: -0.09px;

    color:#ACADB9;
}

.topC__explore-link svg{
    vertical-align: text-top;
}

.topC__explore-link:hover 
.topC__explore-link__content{
    color:var(--almost-black);
}

.topC__explore-link:hover 
.topC__explore-link__svg *{
    stroke:var(--almost-black);
}

.growthPer24{
    font-size:0.8em;
    font-weight: 400;

    color:#10C352;

    margin-left:5px;
    margin-top:3px;
}


/* Adaptive */

@media (max-width:960px){

    .topCollections{
        font-size:0.9rem;
    }
}

@media (max-width:860px){

    .topCollections{
        font-size:0.8rem;
    }

    .topC__explore-link__svg{
        width:14px;
        height:14px;
    }
}

@media (max-width:760px){

    .topCollections{
        font-size:0.7rem;
    }
}

@media (max-width:660px){

    .topCollections{
        font-size:0.6rem;
    }

    .topC__explore-link__svg{
        width:11px;
        height:11px;
    }
}

@media (max-width:560px){

    .topCollections{
        font-size:0.5rem;
    }

    .topC__explore-link__svg{
        width:9px;
        height:9px;
    }
}

@media (max-width:480px){

    .topCollections{
        font-size: 0.8rem;
        padding-inline:20px;
    }

    .topC__title{
        margin-bottom: 1.5em;
    }

    .topC__explore-link__svg{
        width:17px;
        height:17px;
    }

    .topC__table-subtitle:not(:first-child):not(:nth-child(2)){
        display:none;
    }

    .topC__per24, .topC__floor-price,
    .topC__owners, .topC__items{
        display:none;
    }

    .topC__explore{
        text-align:center;

        margin-top:0;

        font-size:1.5em;
    }
}

@media (max-width:410px){

    .topCollections{
        font-size: 0.8rem;
    }
}

@media (max-width:360px){

    .topCollections{
        font-size: 0.7rem;
    }
}

